html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
    padding: 0;
    margin: 0;
}

.container {
    @include make-container();
    @include make-container-max-widths();
}
.container-fluid {
    @include make-container();
}
.row {
    @include make-row();
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

body {
    font-family: "Moscow Sans Regular";
    font-size: 14px;
}
